# Configuration Firebase — propre à chaque projet
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart

# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
