{
  "FIREBASE_API_KEY": "AIza...",
  "FIREBASE_APP_ID": "1:000000000000:android:0000000000000000",
  "FIREBASE_SENDER_ID": "000000000000",
  "FIREBASE_PROJECT_ID": "mon-projet",
  "FIREBASE_STORAGE_BUCKET": "mon-projet.appspot.com"
}
